<!-- <div id="chartdiv" style="width: 100%; height: 500px"></div> -->

<!-- <script src="amcharts/amcharts.js"></script>
<script src="amcharts/serial.js"></script> -->
<!-- <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-160/waSchools.js"></script> -->
<!-- <div id="chartdiv"></div> -->
<!-- <head>
        <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script></head>
<div id="chartdiv" style="width: 100%; height: 500px"></div> -->

<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/usaLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
<div id="chartdiv"></div> 